
@media screen and (max-width: 767px)
{
    body 
    {
        margin-top: 0;
    }
    .logoh
    {
        border: 1px black solid;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logoh + h1 
    {
        font-family: 'Shrikand';
    }

}